<div class="container  mt-3">
  <h1 class="mt-2">Your bookings</h1>
  <div class="cards">

<% @bookings.each do |booking| %>
<div class="w-100 mt-5 mb-5 p-3 mx-auto create">
  <%= cl_image_tag booking.doll.photo.key, class:"w-100" %>
  <p><strong>Doll:</strong> <%= booking.doll.name %></p>
  <p><strong>What you've got to look after:</strong> <%= booking.doll.description %></p>
  <p><strong>Start date:</strong> <%= booking.start_date %></p>
  <p><strong>end date:</strong> <%= booking.end_date %></p>
</div>
<% end %>
</div>
</div>
