<<<<<<< HEAD
<nav class="navbar navbar-expand-lg">
=======
<nav class="navbar navbar-expand-lg navbar-light">
>>>>>>> bd58f7715543ea16045769465d61dec3a4b2548f
  <div class="container-fluid">
  <div id="navbar-logo">Delightful Dolls</div>

       <%# <%= link_to "Delightful Dolls", user_signed_in? ? dolls_path : root_path, class: "navbar-brand $headers-font" %>
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<<<<<<< HEAD

        <%# Don't display the menus of the navbar if user is loging in or signing up %>
        <% if current_user %>
          <li class="nav-item nav-link pl-2" id="navbar-username">
            Welcome, <%= current_user.first_name %>
          </li>

          <li class="nav-item pl-2">
            <%= link_to "Dolls", dolls_path, class: "nav-link" %>
          </li>

          <li class="nav-item pl-2">
            <%= link_to "My profile", my_profile_path, class: "nav-link"  %>
          </li>

          <li class="nav-item pl-2">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
=======
        <li class="nav-item">
          <%= link_to "Dolls", dolls_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My profile</a>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
>>>>>>> bd58f7715543ea16045769465d61dec3a4b2548f
      </ul>
    </div>
  </div>
</nav>
