

  <% if @doll.cursed == true%>
  <% curse = "yes" %>
  <%else %>
  <% curse = "no" %>
  <% end %>



<div class="container w-60 d-flex justify-content-evenly">
  <div class="card mt-4 mb-4 p-3" style="width: 20rem;">
    <%= cl_image_tag @doll.photo.key %>
    <div class="card-body">
      <h5 class="card-title"><%= @doll.name %></h5>
      <p class="card-text"><strong>Description: </strong><%= @doll.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cursed: <%=curse%></li>
      <li class="list-group-item">Condition: <%= @doll.condition %></li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>

  <div class="mt-5 mb-5 p-3 create">
    <h1>Create a booking</h1>
      <%= simple_form_for [@doll, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
         <%= f.submit 'Create a booking', class: "btn btn-ghost-log-out mb-5 mt-2 w-100" %>
      <% end %>
  </div>
</div>



  <div class="container d-flex align-items-center justify-content-center">

    <%# Only show 'delete doll' button if doll belongs to current user %>
    <% if current_user.id == @doll.user_id %>
      <%=  link_to 'Delete doll', doll_path(@doll),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class:"btn btn-ghost mb-5 mt-3" %>
    <% end %>
    <%=  link_to 'Go back', dolls_path, class:"btn btn-ghost mb-5 mt-3" %>
  </div>
