

  <% if @doll.cursed == true%>
  <% curse = "yes" %>
  <%else %>
  <% curse = "no" %>
  <% end %>



<div class="container mt-5 d-flex justify-content-evenly">
  <div class="card w-50 h-50">
    <%= cl_image_tag @doll.photo.key %>
    <div class="card-body">
      <h5 class="card-title"><strong><%= @doll.name.capitalize %></strong></h5>
      <p class="card-text"><strong>Description: </strong><%= @doll.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Cursed: </strong><%=curse.capitalize%></li>
      <li class="list-group-item"><strong>Condition: </strong><%= @doll.condition.capitalize %></li>
      <li class="list-group-item"><strong>Address: </strong> 52 Doll Street</li>
      <li class="list-group-item">
        <%# Only show 'delete doll' button if doll belongs to current user %>
        <% if current_user.id == @doll.user_id %>
          <%=  link_to 'Delete doll', doll_path(@doll),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class:"btn btn-ghost" %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="create">
    <h2>Create a booking</h2>
      <%= simple_form_for [@doll, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true, required: true %>
        <%= f.input :end_date, as: :date, html5: true, required: true %>

          <div class="row">
            <div class="col text-center">
              <%= f.submit 'Create a booking', class: "btn btn-ghost" %>
            </div>
          </div>
      <% end %>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <%=  link_to 'Go back', dolls_path, class:"btn btn-ghost mb-5 mt-3" %>
</div>
