<section class="bg-light landing-page">
  <div class="container d-flex justify-content-center">
    <div class="row align-items-center text-center">
      <div class="col-lg-6 order-2 order-lg-1 border sign-in mt-5">
        <h1>Delightful Dolls</h1>
        <p class="lead">Feeling loney? </p>
        <p class="lead">Your loneliness ends now!</p>
        <p class="lead">Rent a doll and find inner peace. </p>
        <%= link_to "Log in", new_user_session_path, class: "btn-ghost-log-out" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn-ghost-log-out" %>
        <%# <p><a href="#" class="btn btn-primary shadow mr-2">Log in</a> %>
        <%# <a href="#" class="btn-ghost-log-out">Sign up</a></p> %>
      </div>

      <div></div>

      <div class="col-lg-6 order-1 order-lg-2">
        <img src="https://res.cloudinary.com/dug5dmhjs/image/upload/v1661282164/production/doll_bg_coxdrr.png" alt="landing image" class="img-fluid">
      </div>
    </div>
  </div>

</section>
<div class="container justify-content-between mt-5">
<h1>Want to find out more...</h1>
  <div class="cards">
    <% @dolls.limit(3).each do |doll| %>
    <%= link_to doll_path(doll) do %>
      <div class="card-product mt-2 mb-3">
            <%= cl_image_tag doll.photo.key %>
            <div class="card-product-infos">
              <h2 class="large-font"><%= doll.name.capitalize %></h2>
              <p>Condition: <%= doll.condition.capitalize %></p>
              <p>Cursed: <%= doll.cursed %></p>
            </div>
      </div>
      <% end %>
    <% end %>
</div>
</div>
