<section class="bg-light landing-page">
  <div class="container d-flex justify-content-center">
    <div class="row align-items-center text-center">
      <div class="col-lg-6 order-2 order-lg-1 border sign-in mt-5">
        <h1>Delightful Dolls</h1>
        <p class="lead">Feeling loney? </p>
        <p class="lead">Your loneliness ends now!</p>
        <p class="lead">Rent a doll and find inner peace. </p>
        <%= link_to "Log in", new_user_session_path, class: "btn-ghost-log-out p-2 mb-5 mt-2" %>
        <%# <p><a href="#" class="btn btn-primary shadow mr-2">Log in</a> %>
        <a href="#" class="btn-ghost-log-out p-2 mb-5 mt-2">Sign up</a></p>
      </div>

      <div></div>

      <div class="col-lg-6 order-1 order-lg-2">
        <img src="https://res.cloudinary.com/dug5dmhjs/image/upload/v1661282164/production/doll_bg_coxdrr.png" alt="landing image" class="img-fluid">
      </div>
    </div>
  </div>

</section>
<div class="container justify-content-between mt-5">
<h1>Want to find out more...</h1>
  <div class="cards">
    <% @dolls.limit(3).each do |doll| %>
    <div class="card-product mt-3 mb-3">
        <img src="<%= doll.image %>">
        <div class="card-product-infos">
          <h2 class="large-font"><%= link_to "#{doll.name.capitalize}", doll_path(doll)%></h2>
          <p><strong>Condition:</strong><%= "  #{doll.condition.capitalize}" %></p>
          <p><strong>Cursed:</strong><%= "  #{doll.cursed}" %></p>
        </div>
    </div>
    <% end %>
</div>
</div>


 <%# <div class="row">
    <div class="col-4">
      card 1
    </div>
    <div class="col-4">
      card 2
    </div>
    <div class="col-4">
      card 3
    </div>
  </div> %>
