<!DOCTYPE html>
<html>
  <head>
    <title>DelightfulDolls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Open+Sans:wght@300;500&display=swap');
</style>
  </head>

  <body>

    <%# Show navbar if not on landing page %>
    <% if controller_name != 'pages' && action_name != 'home' %>
      <div class="d-flex flex-column min-vh-100">
        <%= render "shared/flashes" %>
        <%= render "shared/navbar"  %>
        <%= yield %>
        <%# Show footer if not on landing page %>
        <%= render "shared/footer" if controller_name != 'pages' && action_name != 'home' %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
